@import url(//db.onlinewebfonts.com/c/6bda4dcd9d8b8c915d5d91b4718c0d6a?family=6eb722d8526a0641+-+subset+of+Parmigiano+Piccolo+Pro+Blk);
@font-face {font-family: "CoolFont"; src: url("//db.onlinewebfonts.com/t/6bda4dcd9d8b8c915d5d91b4718c0d6a.eot"); src: url("//db.onlinewebfonts.com/t/6bda4dcd9d8b8c915d5d91b4718c0d6a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6bda4dcd9d8b8c915d5d91b4718c0d6a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6bda4dcd9d8b8c915d5d91b4718c0d6a.woff") format("woff"), url("//db.onlinewebfonts.com/t/6bda4dcd9d8b8c915d5d91b4718c0d6a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6bda4dcd9d8b8c915d5d91b4718c0d6a.svg#6eb722d8526a0641 - subset of Parmigiano Piccolo Pro Blk") format("svg"); }


body {
    font-family: CoolFont;
}
nav {
    background-color: orange;
    width:100%;
    padding-left:30px;

    display:flex;
    align-items: center;
}

.nav-item {
    color:white;
    font-size:30px;
    text-decoration:none;
    margin-left:20px;
}

.main-pic {
    width:100%;
}
.aboutus-title {
    background-color: grey;
    color:white;
    font-size: 80px;
    font-weight: bold;
    text-align:center;
}

.contents {
    text-align:center;
    padding-left: 100px;
    padding-right:100px;
}
.aboutus-contents {
    font-size:20px;
}
.aboutus-header {
    font-weight:500;
    font-size:60px;
}
.aboutus-contact {
    background-image: url(https://images-ext-1.discordapp.net/external/TvOR-XzxhwtYltaWNAl2eThh5MB3sHp4oeW3W9nR17k/https/company.bk.com/sites/all/themes/custom/bk_theme/img/bg/aboutBK-bg.png);
    height: 800px;
}

footer {
    display: flex;
    flex-direction: row; 
    flex-wrap:  wrap;

    justify-content: space-around;
    padding: 20px 30px;
    width:100%;
    background-color: #522e1deb;
    color:white;
}
footer p {
    margin:0px;
}
